body{
	background:#333;
	color:#111;
	font-family:sans-serif;
	font-size:14px;
	padding:32px;
}

.ib {
display:inline-block;
zoom:1;
*display:inline;
vertical-align: top;
}

.instrument-shadow{
	box-shadow: 6px 6px 3px #222222;
}

.drum1-main{
	background:#EEE;
	height:128px;
	border-radius:2px;
}

.synth-main{
	background: #cccccc;
	background: -moz-linear-gradient(left,  #cccccc 0%, #eeeeee 50%, #eeeeee 51%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cccccc), color-stop(50%,#eeeeee), color-stop(51%,#eeeeee), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(left,  #cccccc 0%,#eeeeee 50%,#eeeeee 51%,#cccccc 100%);
	background: -o-linear-gradient(left,  #cccccc 0%,#eeeeee 50%,#eeeeee 51%,#cccccc 100%);
	background: -ms-linear-gradient(left,  #cccccc 0%,#eeeeee 50%,#eeeeee 51%,#cccccc 100%);
	background: linear-gradient(to right,  #cccccc 0%,#eeeeee 50%,#eeeeee 51%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc',GradientType=1 );

	border-radius:2px;
}

.synth-label-bg{
	background:#666;
	color:white;
}

.synth-controls-row{
	padding-top:4px;
	position:relative;
	z-index:1;
	border-bottom:1px solid #666;
	box-shadow: 0px 1px 2px #666666 !important;
	
}

.synth-controls-row .knobs {
	text-align:center;
	height:68px;
}

.keyboard-row{
	margin-top:4px;
	margin-bottom:10px;
}

.key-white{
	background:#ffffff;
	border-left:1px solid #666;
	border-bottom:1px solid #666;
	border-radius:2px;
	height:96px;
	width:12.5%;
}

.key-white:last-child{
	border-right:1px solid #666;
}

.keyboard-container{
	text-align:left;
}

.synth-octave-container{
	padding-right:8px;
}

.btn-synth{
	cursor:pointer;
	text-align:center;
	background:#EFEFEF;
	box-shadow: 0px 1px 2px #666666;
	padding:8px;
	border-radius:2px;
}

.btn-note{
	width:28px;
	height:64px;
	margin-right:6px;
	color:#666666;
	font-weight:bold;
}
.btn-note:last-child{
	margin-right:0;
}

.btn-note-black{
	background:#444;
	color:#eeeeee;
}

.btn-note-highlight{
	background: #0fb4e7;
	background: -moz-linear-gradient(top,  #0fb4e7 0%, #74d4f2 46%, #0fb4e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0fb4e7), color-stop(46%,#74d4f2), color-stop(100%,#0fb4e7));
	background: -webkit-linear-gradient(top,  #0fb4e7 0%,#74d4f2 46%,#0fb4e7 100%);
	background: -o-linear-gradient(top,  #0fb4e7 0%,#74d4f2 46%,#0fb4e7 100%);
	background: -ms-linear-gradient(top,  #0fb4e7 0%,#74d4f2 46%,#0fb4e7 100%);
	background: linear-gradient(to bottom,  #0fb4e7 0%,#74d4f2 46%,#0fb4e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fb4e7', endColorstr='#0fb4e7',GradientType=0 );
	color:#ffffff;
}

.btn-small{
	font-size:12px;
	padding:2px;
	margin-bottom:4px;
}

.btn-randomize{
	height:44px;
	width:72px;
}

.current-step-container{
	text-align:right;
}

.synth-lcd{
	margin-right:6px;
	text-align:right;
	padding-right:8px;
	padding-top:3px;
	border-radius:2px;
	color:#FF1919;
	height:46px;
	width:48px;
	background:#333;
	font-size:28px;
	font-family:arial;
}

.border-right{
	border-right:1px solid #666;
	height:68px;
}

.main-container{
	background:#111;
	min-width:500px;
	max-width:800px;
	margin-left:8px;
}

.channel-container{
	width:100%;		
}

.channel-container thead {
	border-bottom:1px solid #ccc;
}

.channel-container thead tr td{
	width:24%;
	font-weight:bold;
	color:#ccc;
}

.channel-row-count{
	width:4% !important;
	color:#333;
	padding:0 !important;
}

.channel-row-highlight{
	background:#333 !important;
}
.channel-row-highlight .channel-row-count{
	color:#fff;
}

.channel-container tbody tr td{
	padding:2px 0;
	border-bottom:1px solid #222;
	border-right:1px solid #222;
	padding-left:4px;
}

.channel-container tbody tr td input{
	border:0;
	padding:0;
	width:100px;
	font-size:12px;
	height:12px;
	background:transparent;
	color:#fff;
	outline:0;
	cursor:default;
	text-transform: uppercase;
}

.channel-container .divide4 {
	background:#000;
}

.channel-container h4{
	margin:0;
	font-weight:normal;
	background:#222;
}

.container-padding{
	padding:16px;
}

.top-row{
	height:60px;
}

.options{
	background:#222;
	border-radius:2px;
	height:100%;
	
}

.title-block{
	font-size:60px;
	padding:0;
	padding-left:8px;
	color:#333;
	font-weight:bold;
	background:#222;
	height:100%;
	font-style: italic;
}
.title-block-flash{
	color:#444;
}

.transport-options{

	}

.transport-options .btn{
	font-size:12px;
	cursor:pointer;
	background:#555	;
	width:48%;
	margin-right:2%;
	padding-top:4px;
	padding-left:4px;
	color:white;
	border-radius:0px;
}

.options label{
	font-size:12px;
}

.options select{
	margin-top:2px;
	margin-bottom:8px;
	background:#666;
	color:#eee;
	border:0;
	padding:4px;
	width:100%;
}

.options-container{
	margin-top:4px;
}

.btn{
	outline:none;
	border:0;
	border-bottom:2px solid #999;
	height:26px;
	width:26px;
	padding:0;
}
 
.btn-pushed{
	border:0;
	border-bottom:2px solid red;
	background:#333 !important;
	color:#ccc;
}

.btn-dark{
	color:#666;
	background:#555;
}

.js-display-note{
	font-size:64px;
	color:white;
}

.js-channel-notes tr{
	
}

.tiny-text {
	font-size:11px;
}

.spacer-vertical{
	height:12px;
}

.toggle-switch-bg{
	background:#222;
	width:40px;
	height:20px;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	cursor: pointer;
}

.toggle-switch-h{
	background:#666;
	height:100%;
	width:20px;
	float:left;
	text-align:center;
}

.waveform-toggle-container{
	text-align:center;
}
.toggle-switch-h-right{
	float:right !important;
}

.pattern-select-btn{
	width:32px;
	height:38px;
	text-align:center;
	vertical-align:middle;
	margin-bottom:8px;
}

.btn-pattern-waiting{
	background:#bbb;
}
.panel-bg{

}

.panel-light{
	background:cyan;
	width:12px;
	height:12px;
}

.tempo-light{
	width:16px;
	height:10px;
	background:#333;
	margin-top:8px;
	margin-left:2px;
}

.tempo-light-on{
	background:#666;
}

/*Slider*/
.ui-slider{
	border:0 !important;
	background:#222 !important;
}

.ui-widget-header{
	background:#999;
}

.ui-corner-all{
	border-radius:1px !important;
}

.ui-slider-handle{
	border:0 !important;
	box-shadow: 0px 3px 3px #333;
	display:none;
}